<%= form_with(model: task, remote: true) do |form| %>
                          <%#= updated form to become ajax asynchronus by using remote: true on model %>
                          <%#= this makes the page respond to only changes instead of reloading whole page  %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :task_name %>
  </div>

  <div class="actions">
    <%#= form.submit %>
  </div>
<% end %>
